#!/usr/bin/env zsh
{{- if eq .chezmoi.os "darwin" }}
# Source macOS system-level zshrc file
if [[ -r /private/etc/zshrc ]]; then
    source /private/etc/zshrc
fi
{{ end }}
for config in "$HOME"/.zshrc.d/**/*.zsh(N); do
    if [[ -r $config ]]; then
        source $config
    fi
done
unset -v config

bindkey -e
autoload -Uz compinit
compinit

if [[ -e "$HOME/.iterm2_shell_integration.zsh" ]]; then
    source "$HOME/.iterm2_shell_integration.zsh"
fi

if (( ${+commands[starship]} )); then
    eval "$(starship init zsh)"
else
    PROMPT=$'\n%F{red}%n%f at %F{magenta}%m%f in %F{blue}%1~%f\n%(!.#.$) '
fi

precmd_functions+=(set_window_title)

if [[ -d "$HOME/.local/bin" ]]; then
    path_prepend "$HOME/.local/bin"
fi
