machine {{ (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").hostname.value }}
login {{ (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").username.value }}
password {{ (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").credential.value }}
