{{- if eq .chezmoi.os "darwin" }}
# Set PATH, MANPATH, etc., for Homebrew.
if [[ -x "/opt/homebrew/bin/brew" ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv zsh)"
fi

if [[ -n "$HOMEBREW_PREFIX" ]]; then
    export HOMEBREW_CASK_OPTS="--appdir=~/Applications"
    export HOMEBREW_NO_ASK=1
    export HOMEBREW_NO_UPGRADE_AUTO_UPDATES_CASKS=1
fi
{{- end }}
