machine {{ onepasswordRead "op://Work/CAI Artifactory Production API Key/hostname" }}
login {{ onepasswordRead "op://Work/CAI Artifactory Production API Key/username" }}
password {{ onepasswordRead "op://Work/CAI Artifactory Production API Key/credential" }}
