#!/usr/bin/env zsh
{{- if eq .chezmoi.os "darwin" }}
# Disable sourcing global zsh configuration files (from /private/etc/)
unsetopt GLOBAL_RCS
setopt NO_GLOBAL_RCS
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
if [[ -x "/usr/libexec/path_helper" ]]; then
    eval $(/usr/libexec/path_helper -s)
fi
{{ end }}
for config in "$HOME"/.zshenv.d/**/*.zsh(N); do
    if [[ -r $config ]]; then
        source $config
    fi
done
unset -v config
{{ if eq .chezmoi.os "darwin" }}
{{ if eq .chezmoi.arch "arm64" }}
if [[ -e "/opt/homebrew/bin/brew" ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ else }}
if [[ -e "/usr/local/bin/brew" ]]; then
    eval "$(/usr/local/bin/brew shellenv)"
fi
{{ end }}
if [[ -v HOMEBREW_PREFIX ]]; then
    export HOMEBREW_CASK_OPTS="--appdir=~/Applications"
    fpath=("$HOMEBREW_PREFIX/share/zsh-completions" "$HOMEBREW_PREFIX/share/zsh/site-functions" "$fpath[@]")
fi
{{ end }}
if [[ -d "$HOME/.local/share/zsh/local-functions" ]]; then
    fpath=("$HOME/.local/share/zsh/local-functions" "${fpath[@]}")
fi
