# vim: ft=text
# code: language=plaintext insertSpaces=true tabSize=4
@dtfni:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/dtfni-npm-local/
//{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/dtfni-npm-local/:_auth={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").credential.value }}
//{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/dtfni-npm-local/:email={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").username.value }}
