# vim: ft=text
# code: language=plaintext insertSpaces=true tabSize=4
@testscope:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/devoptx-npm-test-local/
registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/devoptx-npm-test-local/
//{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/devoptx-npm-test-local/:_auth={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").credential.value }}
email={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").username.value }}
