# vim: ft=text
# code: language=plaintext insertSpaces=true tabSize=4
registry=https://{{- onepasswordRead "op://Work/CAI Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/cds-npm/
//{{- onepasswordRead "op://Work/CAI Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/cds-npm/:_auth={{- onepasswordRead "op://Work/CAI Artifactory Production Base64 API Key/credential" }}
//{{- onepasswordRead "op://Work/CAI Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/cds-npm/:email={{- onepasswordRead "op://Work/CAI Artifactory Production Base64 API Key/username" }}
