# vim: ft=text
# code: language=plaintext insertSpaces=true tabSize=4
@argo:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm-local/
@consumer:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm/
@kbbcomponentlibrary:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm-local/
@kbbsdk:registry=https://{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm-local/
//{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm-local/:_auth={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").credential.value }}
//{{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").hostname.value }}/artifactory/api/npm/kbb-npm/:_auth={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").credential.value }}
email={{- (onepasswordDetailsFields "pronqtfooedscvnon34l2lejkq").username.value }}
