# vim: ft=text
# code: language=plaintext insertSpaces=true tabSize=4
@dtfni:registry=https://{{- onepasswordRead "op://Work/Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/dtfni-npm-local/
//{{- onepasswordRead "op://Work/Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/dtfni-npm-local/:_auth={{- onepasswordRead "op://Work/Artifactory Production Base64 API Key/credential" }}
//{{- onepasswordRead "op://Work/Artifactory Production Base64 API Key/hostname" }}/artifactory/api/npm/dtfni-npm-local/:email={{- onepasswordRead "op://Work/Artifactory Production Base64 API Key/username" }}
