[global]
{{- if eq .chezmoi.hostname (onepasswordRead "op://Work/Secrets/mbp_hostname") }}
extra-index-url = https://pypi.org/simple
index-url = https://{{- onepasswordRead "op://Work/CAI Artifactory Production API Key/hostname" }}/artifactory/api/pypi/cai-pypi/simple
{{- end }}
respect-virtualenv = true

[list]
format = columns

[install]
no-warn-script-location = no
require-virtualenv = true

[uninstall]
require-virtualenv = true
