[global]
{{ if eq .chezmoi.os "darwin" }}
extra-index-url = https://pypi.org/simple
index-url = {{ (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").notesPlain.value }}
{{ end }}
respect-virtualenv = true

[list]
format = columns

[install]
no-warn-script-location = no
require-virtualenv = true

[uninstall]
require-virtualenv = true
