[global]
extra-index-url = https://pypi.org/simple
index-url = {{- (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").index_url.value }}
respect-virtualenv = true

[list]
format = columns

[install]
no-warn-script-location = no
require-virtualenv = true

[uninstall]
require-virtualenv = true
