if test -d "/usr/local/sbin"
    fish_add_path -mpP /usr/local/sbin
end

if test -d "/usr/local/bin"
    fish_add_path -mpP /usr/local/bin
end
{{ if eq .chezmoi.os "darwin" }}
if test -x "/opt/homebrew/bin/brew"
    eval "$(/opt/homebrew/bin/brew shellenv)"
end

if test -n "$HOMEBREW_PREFIX"
    set -x HOMEBREW_CASK_OPTS --appdir=~/Applications
end
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu"))) }}
fish_add_path -mpP /sbin
fish_add_path -mpP /usr/sbin
if set -l index (contains -i /snap/bin $PATH)
    set -e PATH[$index]
end
{{ end }}
