if test -d "/usr/local/sbin"
    fish_add_path -mpP /usr/local/sbin
end

if test -d "/usr/local/bin"
    fish_add_path -mpP /usr/local/bin
end
{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
if test -x "/opt/homebrew/bin/brew"
    eval "$(/opt/homebrew/bin/brew shellenv)"
end
{{- end }}
{{- if (and (eq .chezmoi.os "darwin") (ne .chezmoi.arch "arm64")) }}
if test -x "/usr/local/bin/brew"
    eval "$(/usr/local/bin/brew shellenv)"
end
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
if test -n "$HOMEBREW_ROOT"
    set -x HOMEBREW_CASK_OPTS --appdir=~/Applications
end
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian")) }}
fish_add_path -mpP /sbin
fish_add_path -mpP /usr/sbin
{{ end }}
