fish_add_path -mpP /usr/local/sbin
fish_add_path -mpP /usr/local/bin

{{ if eq .chezmoi.os "darwin" }}
{{ if eq .chezmoi.arch "arm64" }}
if test -d "/opt/homebrew/bin"
    fish_add_path -mpP /opt/homebrew/bin
end
{{ else }}
if test -d "/usr/local/bin"
    fish_add_path -mpP "/usr/local/bin"
end
{{ end }}
if type -q brew
    set x HOMEBREW_ROOT $(brew --prefix)
end

if test -n "$HOMEBREW_ROOT"
    set -x HOMEBREW_CASK_OPTS --appdir=~/Applications
end
{{ end }}
{{ if eq .chezmoi.os "linux"}}
{{ if eq .chezmoi.osRelease.idLike "debian" }}
fish_add_path -mpP /sbin
fish_add_path -mpP /usr/sbin
{{ end }}
{{ end }}
