if test -d "$HOME/.rbenv"
    set -x RBENV_ROOT $HOME/.rbenv
end

{{- if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu"))) }}
if test -n "$RBENV_ROOT" -a -f "$RBENV_ROOT/bin/rbenv"
    fish_add_path -mpP $RBENV_ROOT/bin
end
{{- end }}

if type -q rbenv && status --is-interactive
    rbenv init - fish | source
    set -l rbenv_commands (rbenv commands)
    complete -f -c rbenv -n "not __fish_seen_subcommand_from $rbenv_commands" -a update -d 'Update rbenv and rbenv plugins'
end
