# Fake Bash-style `!!`` history substitution
function last_history_item
    echo $history[1]
end
abbr --add !! --position anywhere --function last_history_item
{{ if (eq .chezmoi.os "darwin") }}
# I cannot be bothered to type `brew` without making a mistake
abbr --add br --position anywhere brew
{{- end }}