{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -FG'
alias finder='open -a Finder ./'
if test -d '/Applications/Yoink.app'
    alias yoink='open -a Yoink'
end
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu"))) }}
alias ls='ls -F --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias gvim='gvim -f'
{{- end }}
