if type -q op
    function op-signin -d "Sign in to 1Password CLI"
        eval (op signin --account {{ onepasswordRead "op://Private/1Password CLI Account Name/notesPlain" }})
    end
    op completion fish | source
end
