python-preference = "only-managed"

{{- if eq .chezmoi.hostname (onepasswordRead "op://Work/d7io2elknbx7zl6kyimvza2z3i/mbp_hostname") }}
# Team default for uv add/sync/lock/run (replaces PyPI as the fallback)
[[index]]
name = "pebkac-pypi"
url = "{{- (onepasswordDetailsFields "42ldjiqtkvnbesq2hdvu2jbwxm").hostname.value }}/simple"
publish-url = "{{- (onepasswordDetailsFields "42ldjiqtkvnbesq2hdvu2jbwxm").hostname.value }}"
default = true

# For `uv pip` subcommands (Docker builds)
[pip]
index-url = "{{- (onepasswordDetailsFields "42ldjiqtkvnbesq2hdvu2jbwxm").hostname.value }}/simple"
{{- end }}
