python-preference = "only-managed"

{{- if eq .chezmoi.hostname (onepasswordRead "op://Work/Secrets/mbp_hostname") }}
# Team default for uv add/sync/lock/run (replaces PyPI as the fallback)
[[index]]
name = "pebkac-pypi"
url = "{{- onepasswordRead "op://Work/Artifactory pebkac-pypi/hostname" }}/simple"
publish-url = "{{- onepasswordRead "op://Work/Artifactory pebkac-pypi/hostname" }}"
default = true

# For `uv pip` subcommands (Docker builds)
[pip]
index-url = "{{- onepasswordRead "op://Work/Artifactory pebkac-pypi/hostname" }}/simple"
{{- end }}
