extra-index-url = ["https://pypi.org/simple"]
index-url = "https://{{- (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").hostname.value }}/artifactory/api/pypi/cai-pypi/simple"
python-preference = "managed"

[pip]
extra-index-url = ["https://pypi.org/simple"]
index-url = "https://{{- (onepasswordDetailsFields "n3vbe3zwgbazradqupbcnkgbm4").hostname.value }}/artifactory/api/pypi/cai-pypi/simple"
