#!/usr/bin/env sh
# shellcheck disable=SC2164

# Install dependencies
{{- if eq .chezmoi.os "darwin" }}
brew install openssl readline sqlite3 tcl-tk xz zlib
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}
sudo dnf install -y make gcc zlib-devel bzip2 bzip2-devel readline-devel sqlite sqlite-devel openssl-devel tk-devel libffi-devel xz-devel libuuid-devel gdbm-devel libnsl2-devel
{{- end }}

# Install pyenv
git clone https://github.com/pyenv/pyenv.git "$HOME"/.pyenv
git clone https://github.com/pyenv/pyenv-update.git "$HOME"/.pyenv/plugins/pyenv-update
cd "$HOME"/.pyenv && src/configure && make -C src && cd "$HOME"
chmod 700 "$HOME"/.pyenv
