#!/usr/bin/env sh
# shellcheck shell=sh

if [ -d "$PWD"/.git ]; then
    git config --local user.email {{ (onepasswordDetailsFields "34xq43cysjdfboj2r5u35fgefi").email.value }}
    git config --local user.name "Chip Warden"
    return_code=0
else
    printf "ERROR: Current directory is not a Git repository.\n"
    return_code=1
fi

exit $return_code
