#!/usr/bin/env sh
# shellcheck disable=SC2164
#
# Install dependencies
{{- if eq .chezmoi.os "darwin" }}
brew install autoconf openssl@3 pkg-config python@3.10 python-tk@3.10
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}
sudo dnf install -y autoconf openssl-devel pkgconf pkgconf-pkg-config python3.10 python3.10-devel python3.10-libs
{{- end }}

# Install nodenv
git clone https://github.com/nodenv/nodenv.git "$HOME"/.nodenv
git clone https://github.com/nodenv/node-build.git "$HOME"/.nodenv/plugins/node-build
git clone https://github.com/nodenv/node-build-update-defs.git "$HOME"/.nodenv/plugins/node-build-update-defs
git clone https://github.com/nodenv/nodenv-update.git "$HOME"/.nodenv/plugins/nodenv-update
git clone https://github.com/nodenv/nodenv-default-packages.git "$HOME"/.nodenv/plugins/nodenv-default-packages
git clone https://github.com/momo-lab/xxenv-latest.git "$HOME"/.nodenv/plugins/xxenv-latest
cd "$HOME"/.nodenv && src/configure && make -C src && cd "$HOME"
echo "alks" > "$HOME"/.nodenv/default-packages
echo "npmrc" >> "$HOME"/.nodenv/default-packages
chmod 700 "$HOME"/.nodenv
