#!/usr/bin/env sh
# shellcheck disable=SC2164

# Install dependencies
{{- if eq .chezmoi.os "darwin" }}
brew install openssl@1.1 openssl@3 readline libyaml gmp rust
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}
sudo dnf install -y gcc rust patch make bzip2 openssl-devel libyaml-devel libffi-devel readline-devel zlib-devel gdbm-devel ncurses-devel
{{- end }}

# Install rbenv
git clone https://github.com/rbenv/rbenv.git "$HOME"/.rbenv
git clone https://github.com/rbenv/ruby-build.git "$HOME"/.rbenv/plugins/ruby-build
git clone https://github.com/momo-lab/xxenv-latest.git "$HOME"/.rbenv/plugins/xxenv-latest
cd "$HOME"/.rbenv && src/configure && make -C src && cd "$HOME"
chmod 700 "$HOME"/.rbenv
