set fish_prompt_pwd_dir_length 0

if type -q pipx
    register-python-argcomplete --shell fish pipx | source
end

if type -q vf
    set -x VIRTUALFISH_HOME "$HOME"/.local/share/virtualenvs
end

if type -q starship
    starship init fish | source
end

if type -q direnv
    direnv hook fish | source
end

if test -e "$HOME/".iterm2_shell_integration.fish
    source "$HOME"/.iterm2_shell_integration.fish
end
{{ if eq .chezmoi.hostname (onepasswordDetailsFields "d7io2elknbx7zl6kyimvza2z3i").mbp_hostname.value }}
set -x GHES_PAT (security find-internet-password -s {{ (onepasswordDetailsFields "d7io2elknbx7zl6kyimvza2z3i").ghes_fqdn.value }} -w)
{{- end }}

enable_transience
