#!/usr/bin/env zsh
path_prepend /usr/local/sbin
path_prepend /usr/local/bin

{{- if (eq .chezmoi.os "darwin") }}
# macOS HOMEBREW_ROOT
export HOMEBREW_PREFIX=$([[ $(arch) == 'arm64' ]] && echo '/opt/homebrew' || echo '/usr/local')

if [[ $HOMEBREW_ROOT == /opt/homebrew ]]; then
    path_prepend /opt/homebrew/sbin
    path_prepend /opt/homebrew/bin
fi

{{- else }}
# Add /sbin and /usr/sbin to PATH on Debian systems
if [[ -e /etc/debian_version ]]; then
    path_prepend /usr/sbin
    path_prepend /sbin
fi
{{- end }}
