# shellcheck shell=bash
# shellcheck disable=SC2103,SC2155,SC2164
if [[ -d "$HOME/.rbenv" ]]; then
    export RBENV_ROOT="$HOME/.rbenv"
fi

{{- if eq .chezmoi.os "ubuntu" }}
if [[ -n "$RBENV_ROOT" ]] && [[ -f "$RBENV_ROOT/bin/rbenv" ]]; then
    path_prepend "$RBENV_ROOT/bin"
fi
{{- end }}

if command -v rbenv >/dev/null 2>&1; then
    eval "$(rbenv init -)"
fi
