# shellcheck shell=bash
# shellcheck disable=SC2103,SC2155,SC2164
if [[ -d "$HOMEBREW_PREFIX/share/npm/bin" ]]; then
    path_append "$HOMEBREW_PREFIX/share/npm/bin"
fi

if [[ -d "$HOME/.nodenv" ]]; then
    export NODENV_ROOT="$HOME/.nodenv"
fi

{{- if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu"))) }}
if [[ -n "$NODENV_ROOT" ]] && [[ -f "$NODENV_ROOT/bin/nodenv" ]]; then
    path_prepend "$NODENV_ROOT/bin"
fi
{{- end }}

if command -v nodenv >/dev/null 2>&1; then
    eval "$(nodenv init -)"
fi
