spoon.ControlPlane.contexts = {
    home = {
        rules = {
            { kind = "ssid",   confidence = 0.5, value = { {{ onepasswordRead "op://Personal/Home Network/ssid" | quote }} } },
            { kind = "subnet", confidence = 0.5, value = { {{ onepasswordRead "op://Personal/Home Network/subnet" | quote }} } },
        },
    },
}

spoon.ControlPlane.threshold = 1.0
spoon.ControlPlane.margin = 0.3

spoon.ControlPlane.onContextChange = function(newName, newCtx, oldName)
    if newName == "home" then
        hs.execute("networksetup -switchtolocation Home")
    else
        hs.execute("networksetup -switchtolocation Automatic")
    end
end

spoon.ControlPlane:start()
